<form action="/records/{{{record.id}}}?_method=PUT" method="POST" id="updateRecord">
  <div class="form-group mb-3">
    <label>Date</label>
    <input type="date" name="date" class="form-control" id="date" value="{{{date}}}" required>
    <label>Category</label>
    <div class="col-sm">
      <select name="category" form="updateRecord" class="custom-select" required>
        <option selected>category</option>
        {{#each categories}}
        <option value={{this.id}}> {{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <label>Name</label>
    <input type="text" placeholder="name" name="name" class="form-control" value="{{{record.name}}}" required>
    <label>Amount</label>
    <input type="number" placeholder="amount" name="record" class="form-control" min="0" step="any"
      value="{{{record.amount}}}" required>
  </div>
  <button type="submit" class="btn btn-success">Update</button>
</form>