<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <a href="/records/new" class="btn btn-primary mb-3">Create Record</a>
    </div>
    <div class="col-sm">
      <a href="/categories" class="btn btn-primary mb-3">Manage Caregory</a>
    </div>
    <div class="col-sm">
      <select class="custom-select">
        <option selected>Sort by month</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-sm">
      <select class="custom-select" onchange="location = this.value">
        {{#if selectedCategory}}
        <option value="" selected>{{selectedCategory.categoryName}}</option>
        <option value="/">All Category</option>
        {{else}}
        <option value="/">Select a category</option>
        {{/if}}
        {{#each categoryList}}
        <option value="/sorts/{{this.id}}">{{this.categoryName}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each records}}
    <tr>
      <td>
        <p style="display: inline;vertical-align: middle;"> {{this.date}} </p>
      </td>
      <td>
        <p style="display: inline;vertical-align: middle;">{{{this.icon}}} &nbsp; {{this.categoryName}}</p>
      </td>
      <td>
        <p style="display: inline;vertical-align: middle;"> {{this.name}} </p>
      </td>
      <td>
        <p style="display: inline;vertical-align: middle;"> {{this.amount}} </p>
      </td>
      <td>
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success">edit</a>
      </td>
      <td>
        <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>