<div class="container">
  <div class="d-flex justify-content-start">
    <div class="col">
      <a href="/" class="btn btn-primary mb-3">Home</a>
    </div>
    <div class="col">
      <a href="/records/new" class="btn btn-primary mb-3">Create Record</a>
    </div>
    <div class="col">
      <a href="/categories" class="btn btn-primary mb-3">Manage Caregory</a>
    </div>
  </div>
</div>
<br>
<form action="/sorts" method="GET">
  <div class="form-row">
    <div class="col">
      <select class="form-control" id="exampleFormControlSelect2" name="month" onchange="submit()">
        {{#if selectedMonth}}
        <option value={{selectedMonth}} selected>{{selectedMonth}}</option>
        <option value="all"> --- </option>
        <option value="all">All Time</option>
        {{else}}
        <option value="all">Select a month</option>
        {{/if}}
        {{#each monthList}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <br>
    <div class="col">
      <select class="custom-select" onchange="submit()" name="category">
        {{#if selectedCategory}}
        <option value={{selectedCategory.id}}>{{selectedCategory.categoryName}}</option>
        <option value="none">---</option>
        <option value="all">All Category</option>
        {{else}}
        <option value="none">Select a category</option>
        {{/if}}
        {{#each categoryList}}
        <option value="{{this.id}}" {{#ifEquals selectedCategory.categoryName this.id}}{{/ifEquals}}>
          {{this.categoryName}}
        </option>
        {{/each}}
      </select>
    </div>
  </div>
</form>
<br>
<div class="col">
  {{#if totalAmount}}
  <h4>Total Amount: <span class="badge badge-warning">{{totalAmount.sum}}</span></h4>
  {{/if}}
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each records}}
    <tr>
      <td>
        <p style="display: inline;vertical-align: middle;"> {{this.date}} </p>
      </td>
      <td>
        <p style="display: inline;vertical-align: middle;"> {{this.name}} </p>
      </td>
      <td>
        <p style="display: inline;vertical-align: middle;">{{{this.icon}}} &nbsp; {{this.categoryName}}</p>
      </td>
      <td>
        <p style="display: inline;vertical-align: middle;"> {{this.amount}} </p>
      </td>
      <td>
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success">edit</a>
      </td>
      <td>
        <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>